/* Styles go here */

.token {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: inline-block;
}
.colorsContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100vw;
  flex-wrap: wrap;
}
.colorContainer{
  padding: 20px;
  margin:50px;
}
